#service_ctnt{
	margin-right: 20px;
	margin-left: 20px;
	
}

#subsite_ctnt h3{
	font-size: 16px;
	margin-left:20px;
	padding-top: 10px;
	font-weight: bold;
}

#subsite_ctnt p{
	font-size: 14px;
}
#suzume{
	padding-bottom: 10px;
}

#hibari{
	padding-bottom: 10px;
}

#yamagara{
	padding-bottom: 10px;
}
